[Desktop Entry]
Type=Service
Icon=mercurial
Exec=blubb
Comment=This plugin integrates Mercurial
Comment[es]=Este complemento integra Mercurial
Comment[nds]=Dit Moduul bett Mercurial in
Comment[nl]=Deze plugin integreert Mercurial
Comment[pt]=Este 'plugin' integra o Mercurial
Comment[pt_BR]=Este plug-in integra o Mercurial
Comment[sv]=Det här insticksprogrammet integrerar Mercurial
Comment[uk]=За допомогою цього додатка можна інтегрувати Mercurial
Comment[x-test]=xxThis plugin integrates Mercurialxx
Name=Mercurial Support
Name[es]=Implementación de Mercurial
Name[nds]=Mercurial-Ünnerstütten
Name[nl]=Ondersteuning voor Mercurial
Name[pt]=Suporte ao Mercurial
Name[pt_BR]=Suporte ao Mercurial
Name[sv]=Stöd för Mercurial
Name[uk]=Підтримка Mercurial
Name[x-test]=xxMercurial Supportxx
GenericName=Version Control Support
GenericName[es]=Implementación de Control de Versiones
GenericName[nds]=Verschoonkuntrull-Ünnerstütten
GenericName[nl]=Ondersteuning voor versiecontrole
GenericName[pt]=Suporte ao Controlo de Versões
GenericName[pt_BR]=Suporte a controle de versão
GenericName[sv]=Versionskontrollstöd
GenericName[uk]=Підтримка керування версіями
GenericName[x-test]=xxVersion Control Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevmercurial
X-KDE-PluginInfo-Name=kdevmercurial
X-KDE-PluginInfo-Author=Andrey Batyiev
X-KDE-PluginInfo-Email=batyiev@gmail.com
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Version Control
X-KDevelop-Version=11
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.IBasicVersionControl, org.kdevelop.IDistributedVersionControl
X-KDevelop-Mode=GUI
