[Desktop Entry]
Type=Service
Icon=mercurial
Exec=blubb
Comment=This plugin integrates Mercurial to KDevelop
Comment[en_GB]=This plugin integrates Mercurial to KDevelop
Comment[es]=Este complemento integra Mercurial en KDevelop
Comment[fr]=Ce module externe intègre Mercurial à KDevelop
Comment[gl]=Esta extensión integra Mercurial en KDevelop
Comment[nds]=Dit Moduul bett Mercurial na KDevelop in
Comment[pt]=Este 'plugin' integra o Mercurial no KDevelop
Comment[pt_BR]=Este plugin integra o Mercurial no KDevelop
Comment[sv]=Insticksprogrammet integrerar Mercurial i KDevelop
Comment[tr]=Bu eklenti Mercurial'ı KDevelop'a bütünleştirir.
Comment[uk]=За допомогою цього додатка можна інтегрувати Mercurial до KDevelop
Comment[x-test]=xxThis plugin integrates Mercurial to KDevelopxx
Name=Mercurial Support
Name[en_GB]=Mercurial Support
Name[es]=Implementación de Mercurial
Name[fr]=Prise en charge de Mercurial
Name[pt]=Suporte ao Mercurial
Name[pt_BR]=Suporte ao Mercurial
Name[sv]=Mercurial-stöd
Name[uk]=Підтримка Mercurial
Name[x-test]=xxMercurial Supportxx
GenericName=Version Control Support
GenericName[en_GB]=Version Control Support
GenericName[es]=Implementación de control de versiones
GenericName[fr]=Prise en charge du contrôle de versions
GenericName[pt]=Suporte ao Controlo de Versões
GenericName[pt_BR]=Suporte ao controle de versão
GenericName[sv]=Stöd för versionskontroll
GenericName[tr]=Sürüm Kontrol Desteği
GenericName[uk]=Підтримка керування версіями
GenericName[x-test]=xxVersion Control Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevmercurial
X-KDE-PluginInfo-Name=kdevmercurial
X-KDE-PluginInfo-Author=Fabian Wiesel
X-KDE-PluginInfo-Email=fabian.wiesel@fu-berlin.de
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=8
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.IBasicVersionControl, org.kdevelop.IDistributedVersionControl
X-KDevelop-Mode=GUI
