[Desktop Entry]
Type=Service
Icon=mercurial
Exec=blubb
Comment=This plugin integrates Mercurial
Comment[bg]=Тaзи приставка включва поддръжка на Mercural
Comment[ca]=Aquest connector integra Mercurial
Comment[ca@valencia]=Este connector integra Mercurial
Comment[cs]=Tento modul integruje Mercurial
Comment[de]=Dieses Modul integriert Mercurial
Comment[es]=Este complemento integra Mercurial
Comment[et]=See plugin lõimib Mercuriali
Comment[fr]=Ce module externe intègre Mercurial
Comment[ga]=Comhtháthaíonn an breiseán seo Mercurial
Comment[gl]=Este engadido integra Mercurial
Comment[hu]=Ez a bővítmény integrálja a Mercurialt
Comment[nds]=Dit Moduul bett Mercurial in
Comment[nl]=Deze plugin integreert Mercurial
Comment[pl]=Wtyczka ta integruje Mercurial
Comment[pt]=Este 'plugin' integra o Mercurial
Comment[pt_BR]=Este plugin integra o Mercurial
Comment[sk]=Tento plugin integruje Mercurial
Comment[sv]=Det här insticksprogrammet integrerar Mercurial
Comment[tr]=Bu eklenti Mercurial'i bütünleştirir
Comment[uk]=За допомогою цього додатка можна інтегрувати Mercurial
Comment[x-test]=xxThis plugin integrates Mercurialxx
Name=Mercurial Support
Name[bg]=Поддръжка на Mercurial
Name[ca]=Implementació per a Mercurial
Name[ca@valencia]=Implementació per a Mercurial
Name[cs]=Podpora Mercurialu
Name[de]=Unterstützung für Mercurial
Name[es]=Implementación de Mercurial
Name[et]=Mercuriali toetus
Name[fr]=Prise en charge de Mercurial
Name[ga]=Tacaíocht Mercurial
Name[hu]=Mercurial támogatás
Name[it]=Supporto per Mercurial
Name[nds]=Mercurial-Ünnerstütten
Name[nl]=Ondersteuning voor Mercurial
Name[pl]=Obsługa Mercurial
Name[pt]=Suporte ao Mercurial
Name[pt_BR]=Suporte ao Mercurial
Name[sk]=Podpora Mercurialu
Name[sv]=Stöd för Mercurial
Name[tr]=Mercurial Desteği
Name[uk]=Підтримка Mercurial
Name[x-test]=xxMercurial Supportxx
GenericName=Version Control Support
GenericName[bg]=Поддръжка на управление на версиите
GenericName[bs]=Podrška za kontrolu verzija
GenericName[ca]=Implementació del control de versions
GenericName[ca@valencia]=Implementació del control de versions
GenericName[cs]=Podpora správy verzí
GenericName[de]=Unterstützung für Versionsverwaltungssysteme
GenericName[es]=Implementación de Control de Versiones
GenericName[et]=Versioonihalduse toetus
GenericName[fr]=Prise en charge du contrôle de versions
GenericName[ga]=Tacaíocht do rialú leaganacha
GenericName[hu]=Verziókezelő támogatás
GenericName[it]=Supporto per il controllo di versione
GenericName[nds]=Verschoonkuntrull-Ünnerstütten
GenericName[nl]=Ondersteuning voor versiecontrole
GenericName[pl]=Obsługa kontroli wersji
GenericName[pt]=Suporte ao Controlo de Versões
GenericName[pt_BR]=Suporte a controle de versão
GenericName[sk]=Podpora ovládania verzií
GenericName[sv]=Versionskontrollstöd
GenericName[tr]=Sürüm Kontrol Desteği
GenericName[ug]=نەشر باشقۇرۇش قوللىشى
GenericName[uk]=Підтримка керування версіями
GenericName[x-test]=xxVersion Control Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevmercurial
X-KDE-PluginInfo-Name=kdevmercurial
X-KDE-PluginInfo-Author=Andrey Batyiev
X-KDE-PluginInfo-Email=batyiev@gmail.com
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Version Control
X-KDevelop-Version=14
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.IBasicVersionControl, org.kdevelop.IDistributedVersionControl
X-KDevelop-Mode=GUI
